@{
    ViewBag.Title = "Index";
}

<div>
    <button type="button" id="getter" onclick="cat(1)">Tesselation</button>

    <button type="button" id="getter" onclick="cat(2)">Surrealism</button>

    <button type="button" id="getter" onclick="cat(3)">Portrait</button>

    <button type="button" id="getter" onclick="cat(4)">Renaissance</button>
</div>


<div id="test">

</div>